# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Local data and Spark output
warehouse/
data/events/
data/processed/
spark-warehouse/
metastore_db/
docker-spark-iceberg/data/
docker-spark-iceberg/warehouse/
hadoopbinwinutils.exe

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/